<footer>
  <h2>George Tsatsaris &middot; Full Stack Developer</h2>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/tsatsarisg" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/tsatsarisg" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li>
      <a href="mailto:tsatsarisgiorgos@gmail.com" target="_blank"
        ><i class="fa-solid fa-at"></i
      ></a>
    </li>
  </ul>
  <p><small>&copy; 2022 George Tsatsaris. All rights reserved.</small></p>
</footer>
