<nav>
  <ul>
    <li>
      <h1>
        <a href="index.html"
          ><i class="fa-solid fa-code"></i> George Tsatsaris</a
        >
      </h1>
    </li>

    <li>
      <a
        href="https://www.linkedin.com/in/tsatsarisg
        "
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/tsatsarisg" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>

    <li>
      <a href="../assets/tsatsaris-resume.pdf" download="tsatsaris-resume.pdf"
        >Resume <i class="fa-solid fa-file-pdf"></i
      ></a>
    </li>
  </ul>
</nav>
